<extend name="Public:base" />
<block name="leftcolumn">
		<div class="col-lg-9 col-md-9 col-sm-12">
	         <div class="panel panel-default">
	         
					  <div class="panel-heading">
					    <h2 class="panel-title">查看我的商品</h2>
					  </div>
				  <div class="panel-body">
				    <div class="">
			          <ul class="nav nav-tabs nav-justified" id="myTab">
			              <li role="presentation" class="active"><a href="#sales">出售</a></li>
			              <li role="presentation"><a href="#purchase">收购</a></li>
			              </if>
			          </ul>
			        <div class="tab-content">
			        	<div class="tab-pane active" id="sales">
				          	<table class="table  table-hover error">
				          		<thead>
				          			<th>商品名称</th>
				          			<th>交易状态</th>
				          			<th>发布时间</th>
				          			<th>查看数</th>
				          		</thead>
				          		<foreach name="sale_goods_list.goods" item="ul">
									
									<tr>
										<td ><a href="{:U('Home/Goods/listGoods',array('secondgoods_id'=>$ul['secondgoods_id']))}">{$ul.secondgoods_name}</a></td>
										<td>{$ul.secondgoods_efficiency}</td>
										<td>{$ul.secondgoods_postdate|date="Y-m-d H:i:s",###}</td>
										<td>{$ul.secondgoods_views}</td>
									</tr>
									
								</foreach>
								<tfoot>
										<th colspan="6">{$sale_goods_list.page}</th>
									</tfoot>
				          	</table>
			          	</div>
			          	<div class="tab-pane" id="purchase">
				          	<table class="table  table-hover error">
					          		<thead>
					          			<th>商品名称</th>
					          			<th>交易状态</th>
					          			<th>发布时间</th>
					          			<th>查看数</th>
					          		</thead>
					          		<foreach name="purchase_goods_list.goods" item="ul">
										<tr>
											<td ><a href="{:U('Home/Goods/listGoods',array('secondgoods_id'=>$ul['secondgoods_id']))}">{$ul.secondgoods_name}</a></td>
											<td>{$ul.secondgoods_efficiency}{$ul.secondgoods_id}</td>
											<td>{$ul.secondgoods_postdate|date="Y-m-d H:i:s",###}</td>
											<td>{$ul.secondgoods_views}</td>
										</tr>
									</foreach>
									<tfoot>
										<th colspan="6">{$purchase_goods_list.page}</th>
									</tfoot>
					          	</table>
			          	</div>
			         
			          </div>
			      	</div>
				  </div>
			</div>
		</div>
	    
</block>

